body {
    //background-image: radial-gradient( #040c3b,#010310, #010310) ;
    /*  background: radial-gradient(ellipse at top, #010310, #021b3e),
            radial-gradient(ellipse at bottom, #bfc5ee, #011226);*/
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
}
html{
    font-family: 'SYFY Fantasy', sans-serif;
}
.modal-content{

    background: linear-gradient(to top, #012d66 0%, #537895 100%);
}