.uqa-card-tests-detail{
    font-size: 11px;
    color: #a7bcf5;
}
.uqa-card-test-bulled{
    list-style: none;
    font-size: 12px;
    color: #a7bcf5;
    margin-left: -2em;
}
.uqa-card-test-por{
    position: absolute;
    left: 19em;
    color: #18d3e0;
}

.form-check-input:checked {
    background-color: #35858B !important;
    border-color: #35858B !important;
}

.form-check-input {
    background-color: #072227 !important;
    border-color: #072227 !important;
}

.card_{
    background: linear-gradient(90.2deg, rgb(3, 22, 65),rgba(3, 22, 65, 0.374));
 }

